<div class="four wide column center aligned votes">
  <div class="ui inverted segment">
    <div class="ui inverted statistic">
      <div class="value">
        {{ article.votes }}
      </div>
      <div class="label">
        Points
      </div>
    </div>
  </div>
</div>
<div class="twelve wide column">
  <h1 class="ui large header">
    <a href="{{ article.link }}">
      {{ article.title }}
    </a>
  </h1>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a href (click)="voteUp()">
        <i class="arrow up icon"></i>
        upvote
      </a>
    </li>
    <li class="item">
      <a href (click)="voteDown()">
        <i class="arrow down icon"></i>
        downvote
      </a>
    </li>
  </ul>
</div>

